# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.DS_Store
.atom-dbg.cson
.build-tools.cson
.idea/
.releasedate
.version
Makefile.in
TestDivers.cpp
VERSION
aclocal.m4
autom4te.cache/
binaries/
build*/
build/
compile
config.guess
config.sub
configure
creeEtiquettes.cpp
depcomp
dev-autoreconf
distcheck
install-sh
missing
parcoursModeles.cpp
qSambada/
splitFiles.cpp
test-driver
testBootstrap.cpp
