# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.DS_Store
binaries/
build/
TestDivers.cpp
creeEtiquettes.cpp
parcoursModeles.cpp
splitFiles.cpp
testBootstrap.cpp
VERSION
build*/
qSambada/
.atom-dbg.cson
.build-tools.cson
dev-autoreconf
distcheck
